<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="com.swimap.adapter.message.general"
   name="com.swimap.adapter.message.general"
   version="1.0"
   provider-name="swimap">

   <extension-point id="com.swimap.imap.general.EmfProductResourceIdCustomize" name="EmfProductResourceIdCustomize" schema="schema/EmfProductResourceIdCustomize.exsd"/>

   <extension
         point="com.swimap.imap.general.EmfProductResourceIdCustomize">
      <EmfProductResourceIdCustomize
            class="com.swimap.external.sf.general.PlatformDefaultResouceIDConvert"
            priority="100"/>
   </extension>

</plugin>
