<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd">
<!--
	<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd" >
-->
<COMMINIDATA>
	<AREADESC areaname="modulelist">
		<DESC descname="ResourceBundle">
			<PARAS>
				<PARA name="type" value="ResourceBundle"></PARA>
				<PARA name="resourceBundleName" value="Res"></PARA>
			</PARAS>
		</DESC>

		<DESC descname="nemonitor">
			<PARAS>
				<PARA name="ClassName"
					value="com.swimap.nemonitor.client.NeMonitorClientBaseModule" />
				<PARA name="RunInProcess" value="true" />
				<PARA name="ProcessKey" value="1" />
				<PARA name="ToBeLoaded" value="true" />
				<PARA name="IsJavaModule" value="true" />
				<PARA name="IsOrb" value="false" />
				<PARA name="serialnumber" value="40" />
				<PARA name="dependModules">
         <VALUE  value="topoclient" />	
        </PARA>
			</PARAS>
		</DESC>
	</AREADESC>
</COMMINIDATA>

