#产品定制菜单状态配置文件
#可定制状态值:  
# 0 菜单不显示 (强制隐藏此菜单)
# 1 菜单灰化 (根据当前业务场景,如果菜单显示则强制灰化,若菜单不显示,则此设置无效)
# 以下为可定制菜单状态的菜单列表, 删除菜单Key前面的#符号,然后配置对应的状态值进行定制. (维护工具客户端需要重启才能生效)

#菜单项: 刷新网管信息
#RefreshNMSMenuAction=

#菜单项: 同步网管信息
#SyncNMSMenuAction=

#菜单项: 添加从服务器
#AddSlaveNodeMenuAction=

#菜单项: 删除从服务器
#RmSlaveNodeMenuAction=

#菜单项: 初始化网管系统
#InitalMenuAction=

#菜单项: 修改密码
#ChangeDTClientPWDMenuAction=

#菜单项: 添加组件
AddComponentMenuAction=0

#菜单项: 删除组件
DelComponentMenuAction=0

#菜单项: 添加实例
#AddInstanceMenuAction=

#菜单项: 删除实例
#RmInstanceMenuAction=

#菜单项: 迁移实例
#MoveInstanceMenuAction=

#菜单项: 按License部署
#LicenseDeployMenuAction=

#菜单项: 修改实例名称和备注信息
#ChangeInsInfoMenuAction=

#菜单项: 修改数据库超级用户密码
#ChangeDBSaPWDMenuAction=

#菜单项: 修改数据库用户密码
#ChangeDBOSSUserPWDMenuAction=

#菜单项: 修改时区时间
#ChangeTimeZoneMenuAction=

#菜单项: 配置NTP
#ConfigNTPMenuAction=

#菜单项: 同步主备站点
#JoinHAMenuAction=

#菜单项: 分离主备站点
#SplitHAMenuAction=

#菜单项: 强制本端为主
#ForcePrimaryMenuAction=

#菜单项: 删除复制关系
#DeleteRepMenuAction=

#菜单项: 备份系统数据
#BackupMenuAction=

#菜单项: 恢复系统数据
#RestoreMenuAction=

#菜单项: 修改IP和主机名
#ConfigNetworkMenuAction=

#菜单项: 配置路由
#ConfigRouterMenuAction=

#菜单项: 同步网络配置
#SyncNetworkConfigMenuAction=
