# Defines product extend macro defination files. Format: MACRO_FILE_NAME_<Number>=<macro defination file path>
# Number: Used for controlling the order of loading. If defines same macro key in different files, then the value will be the last one which loaded. Numbers must be continuous.
# macro defination file path: relative to the root dir of install disk

# Install disk default macro defination file, DON'T MODIFY THIS LINE.
MACRO_FILE_NAME_1 = engineering/conf/MacroFile.properties

# IMAP macro defination file
MACRO_FILE_NAME_2 = install/etc/conf/MacroFilePlatform.properties

# U2000 Solution macro defination file
MACRO_FILE_NAME_3 = install/etc/conf/MacroFileNW.properties

# M2000 Solution macro defination file
MACRO_FILE_NAME_4 = install/etc/conf/MacroFileRAN.properties

# SingleOSS Solution macro defination file
MACRO_FILE_NAME_5 = install/etc/conf/MacroFileOSS.properties