<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd">


<COMMINIDATA>

	<AREADESC>
		<!-- define a menuSet
			menuSet:
			descname as the menuSet's id, must be unique.
			must have a type para, and the value is "MenuSet"
			JMenu:(super class must be JMenu)
			descname as the menuID.
			must hava a type para, and the value is "JMenu"
			JMenu's sub element
			type can be "JMenuItem", "Separator " ," CheckBox","RadioButton"
		-->

		<DESC descname="ResourceBundle">
			<PARAS>
				<PARA name="type" value="ResourceBundle"></PARA>
				<PARA name="resourceBundleName" value="Res"></PARA>
			</PARAS>
		</DESC>

		<!-- mainMenu MenuSet type start  -->
		<DESC descname="mainMenu">
			<PARAS>
				<PARA name="name" value="main Menu"></PARA>
				<PARA name="type" value="MenuSet"></PARA>
			</PARAS>

			<DESC descname="FileMenu">
				<PARAS>
					<PARA name="name" value="File"></PARA>
					<PARA name="mnemonic" value="F"></PARA>
					<PARA name="accelerator" value="VK_F"></PARA>
					<PARA name="type" value="JMenu"></PARA>
					<PARA name="icon" value=""></PARA>
					<PARA name="serialnumber" value="100"></PARA>
				</PARAS>

				<!-- define a menuitem -->
				<DESC descname="Search">
					<PARAS>
						<PARA name="name" value="SearchItemName..."></PARA>
						<PARA name="icon" value=""></PARA>
						<PARA name="command" value="show search dialog"></PARA>
						<PARA name="type" value="JMenuItem"></PARA>
						<PARA name="mnemonic" value="A"></PARA>
      					<PARA name="accelerator" value="control F"/>
						<PARA name="Class" value="IViewJMenuItemEx"></PARA>
						<PARA name="serialnumber" value="100-300"></PARA>
					</PARAS>
				</DESC>
			        <DESC descname="Separator">
				        <PARAS>
						<PARA name="name" value="Separator"></PARA>
						<PARA name="type" value="Separator"></PARA>
						<PARA name="serialnumber" value="100-301"></PARA>
				        </PARAS>
			       </DESC>
		       </DESC>
		</DESC>
		<!--  mainMenu MenuSet type ended  -->
	</AREADESC>
</COMMINIDATA>
