<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd">
<!--  edited with XML Spy v4.0 NT beta 2 build Jul 26 2001 (http://www.xmlspy.com) by Tremain (DC)  -->
<COMMINIDATA>
	<AREADESC>
		<!-- define a menuSet

menuSet:

        descname as the menuSet's id, must be unique.

        must have a type para, and the value is "MenuSet"



JMenu:(super class must be JMenu)

        descname as the menuID.

        must hava a type para, and the value is "JMenu"



JMenu's sub element

type can be "JMenuItem", "Separator " ," CheckBox","RadioButton"



 -->
		<DESC descname="ResourceBundle">
			<PARAS>
				<PARA name="type" value="ResourceBundle"/>
				<PARA name="resourceBundleName" value="Res"/>
			</PARAS>
		</DESC>
		<!-- mainMenu MenuSet type start  -->
		<DESC descname="mainMenu">
			<PARAS>
				<PARA name="name" value="main Menu"/>
				<PARA name="type" value="MenuSet"/>
			</PARAS>
			<!-- define a menu have" name" and "mnemonic" attributes -->
			<DESC descname="SECURITY_MAINMENU">
				<PARAS>
					<PARA name="name" value="SECURITY_MAINMENU"/>
					<PARA name="mnemonic" value="E"/>
					<PARA name="accelerator" value="VK_E"/>
					<PARA name="type" value="JMenu"/>
					<PARA name="serialnumber" value="400"/>
				</PARAS>
         		       
				<DESC descname="SECURITY_MANAGER">
					<PARAS>
						<PARA name="name" value="SECURITY_MANAGER"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:showSecurityFrame"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="M"/>
						<PARA name="accelerator" value="VK_M"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-10"/>
					</PARAS>
				</DESC>

				
				<DESC descname="USER_MONITOR">
					<PARAS>
						<PARA name="name" value="USER_MONITOR"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:show user monitor frame"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="U"/>
						<PARA name="accelerator" value="VK_U"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-20"/>
					</PARAS>
				</DESC>
				
				<DESC descname="USER_OPERATION_MONITOR">
					<PARAS>
						<PARA name="name" value="USER_OPERATION_MONITOR"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:show user operation monitor frame"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="O"/>
						<PARA name="accelerator" value="VK_O"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-30"/>
					</PARAS>
				</DESC>		
				
				<DESC descname="SYSTEM_ACL_DIALOG">
					<PARAS>
						<PARA name="name" value="SYSTEM_ACL_DIALOG"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:showACLDialog"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="A"/>
						<PARA name="accelerator" value="VK_A"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-40"/>
					</PARAS>
				</DESC>
								
				<!--DESC descname="TRANSFER_NMSINFO_MENU">
					<PARAS>
					<PARA name="name" value="TRANSFER_NMSINFO_MENU"/>
					<PARA name="mnemonic" value="E"/>
					<PARA name="accelerator" value="VK_E"/>
					<PARA name="type" value="JMenu"/>
					<PARA name="serialnumber" value="400-50"/>
				  </PARAS>
				  
				  <DESC descname="EXPORT_NMSINFO_DIALOG">
					<PARAS>
						<PARA name="name" value="EXPORT_NMSINFO_DIALOG"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:showExportUserAndGroupInfoDialog"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="X"/>
						<PARA name="accelerator" value="VK_X"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-50-10"/>
					</PARAS>					
				  </DESC>
				  
				  <DESC descname="IMPORT_NMSINFO_DIALOG">
					<PARAS>
						<PARA name="name" value="IMPORT_NMSINFO_DIALOG"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:showImportUserAndGroupInfoDialog"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="P"/>
						<PARA name="accelerator" value="VK_P"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-50-20"/>
					</PARAS>					
				  </DESC>
				</DESC-->
								
				<DESC descname="SECURITY_POLICY">
					<PARAS>
						<PARA name="name" value="POLICY_SETTING"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:show security policy dialog"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="P"/>
						<PARA name="accelerator" value="VK_P"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-60"/>
					</PARAS>
				</DESC>
				
				<DESC descname="Separator">
          	<PARAS>
              	<PARA name="name" value="Separator"></PARA>	
            		<PARA name="type" value="Separator"></PARA>            
            		<PARA name="serialnumber" value="400-70"></PARA>            
          	</PARAS>			
        </DESC>
        
        <!-- default close ne user manager -->
				<!-- DESC descname="MENU_NE_USER_MANAGER">
					<PARAS>
						<PARA name="name" value="MENU_NE_USER_MANAGER"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:show NE USER"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="R"/>
						<PARA name="accelerator" value="VK_R"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-80"/>
					</PARAS>
				</DESC-->
				
				<!-- default close ne login manager -->
				<!-- DESC descname="MENU_NE_LOGIN_MANAGER">
					<PARAS>
						<PARA name="name" value="MENU_NE_LOGIN_MANAGER"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:showNELoginFrame"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="N"/>
						<PARA name="accelerator" value="VK_N"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-90"/>
					</PARAS>
				</DESC-->

        <!-- after opening neuser or nelogin manager, then open such separator -->
				<!-- DESC descname="Separator">
          <PARAS>
          	<PARA name="name" value="Separator"></PARA>	
          	<PARA name="type" value="Separator"></PARA>            
          	<PARA name="serialnumber" value="400-100"></PARA>            
          </PARAS>			
        </DESC-->        
		        
		        <!--DESC descname="SECONDARY_AUTH_CFG">
					<PARAS>
						<PARA name="name" value="MENU_SECONDARY_AUTH_CFG"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:showSecondaryAuthCFGFrame"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="D"/>
						<PARA name="accelerator" value="VK_D"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-130"/>
					</PARAS>
				</DESC-->
				<!--DESC descname="EXPORT_AUTHINFO">
					<PARAS>
						<PARA name="name" value="EXPORT_AUTHINFO"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:export auth info"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="I"/>
						<PARA name="accelerator" value="VK_I"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-140"/>
					</PARAS>
				</DESC-->
			   <DESC descname="SYN_USER_AND_USERGROUP_INFO">
					<PARAS>
						<PARA name="name" value="SYN_USER_AND_USERGROUP_INFO"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:syn user and userGroup info"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="Y"/>
						<PARA name="accelerator" value="VK_Y"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-150"/>
					</PARAS>
				</DESC>
				<DESC descname="SUPPORT_REMOTE_AUTH_CONFIG">
					<PARAS>
						<PARA name="name" value="SUPPORT_REMOTE_AUTH_CONFIG"/>
						<PARA name="icon" value=""/>
						<PARA name="command" value="securitymodule:support remote auth config"/>
						<PARA name="type" value="JMenuItem"/>
						<PARA name="mnemonic" value="B"/>
						<PARA name="accelerator" value="VK_B"/>
						<PARA name="Class" value="IViewJMenuItemEx"/>
						<PARA name="serialnumber" value="400-160"/>
					</PARAS>
				</DESC>
			</DESC>
		</DESC>
		<!--  mainMenu MenuSet type ended  -->
	</AREADESC>
</COMMINIDATA>
