<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd">
<!--
<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd" >
 -->
<COMMINIDATA>
    <AREADESC areaname="modulelist">

	  <DESC descname="syslog">
	       <PARAS>
             <PARA name="ClassName" value="com.huawei.syslog.SyslogManager"/>
             <PARA name="RunInProcess" value="true"/>
             <PARA name="ProcessKey" value="1"/>
             <PARA name="ToBeLoaded" value="false"/>
	           <PARA name="IsOrbModule" value="false"/>
	           <PARA name="IsJavaModule" value="true"/>
	           <PARA name="dependModules">
	           <VALUE value="topoclient" type="Reuqired"/>   
	           <VALUE value="com.swimap.adapter.message.common" type="Required"/> 
	           <VALUE value="com.swimap.adapter.message.sm" type="Required"/> 
             </PARA>
         </PARAS>
    </DESC>     
    </AREADESC>
</COMMINIDATA>
