#
LOG_PATH=logs

#
LOG_FILE={0}.log

#
#LOG_PATTERN=%d{yyyy-MM-dd HH:mm:ss.SSS 'UTC'Z}[%5p][%C.java:%L %M()][%t] - %m%n
LOG_PATTERN=%d{yyyy-MM-dd HH:mm:ss} - %m%n

#
LOG_THRESHOLD=info

#
CONSOLE_THRESHOLD=fatal

#
LOG_FILE_SIZE=10MB

#
LOG_BACKUP_SIZE=500

#LOG_DISABL_CONSOLE true
LOG_DISABL_CONSOLE = true

#no of files shd be considered in compress
LOG_COMPRESS_QUEUE_SIZE=5


COMPRESS_BACKUPS = true

#Delete log files based on count set here

LOG_DELETE_ZIP_QUEUE_SIZE= 20

#Whether to delete zip files created or not

LOG_DELETE_ZIP_BACKUPS =true