# log path, relative to the work dir(scritp startup path)
LOG_PATH=logs/install

# default log file name
LOG_FILE={0}.log

# log pattern
#LOG_PATTERN=[%-5p] [%d{yy-MM-dd HH:mm:ss,SSS}] -  %C %M   %m #END#%n
LOG_PATTERN=%d{yyyy-MM-dd HH:mm:ss.SSS 'UTC'Z}[%5p][%t] - %m%n


# log threshold
LOG_THRESHOLD=info

# log threshold of printing to console
CONSOLE_THRESHOLD=debug

# maximum log file size
LOG_FILE_SIZE=10MB

# maximum log file backup number
LOG_BACKUP_SIZE=500
#LOG_DISABL_CONSOLE true
LOG_DISABL_CONSOLE = true

#no of files shd be considered in compress
LOG_COMPRESS_QUEUE_SIZE=5


COMPRESS_BACKUPS = true

#Delete log files based on count set here

LOG_DELETE_ZIP_QUEUE_SIZE= 20

#Whether to delete zip files created or not

LOG_DELETE_ZIP_BACKUPS =true