#engineering default user name
USR_NAME=

#default connection encript mode
TYPE_ENCRYPT=AES

DSERVER_IP=

#SSL Certificate Path
SSL_CERT_PATH=engineering/conf/securityclient

DSERVER_PORT=12212
#HeartBeat relay time. The unit is millisecond.
TIMER_REPEAT_INTERVAL=120000

#Connect relay time. The unit is millisecond.
HELLO_TIMER_REPEAT_INTERVAL=30000

#max switch number for each node
MAX_SWITCH_NUMBER=3

#max allowed error number, if reached, will triger the switch
MAX_ERROR_NUMBER=3

#0:munual switch, 1:auto switch
AUTO_SWITCH=0

#default rpc timeout
DS_TIMEOUT=1800000

RETRY_COUNT=1

#added DatabaseService bundle
JDBC_TIMEOUT=60