#[lable] is used for mark folder
[install]
#subsystem data packages
NMSInstallationPGK=/install/data
#subsystem description files
NMSInstallationCFG=install/etc/package
#subsystem databases description files
NMSDBCFG=/install/etc/database
[/install]
#describe the path of patch and patch config file
[patch]
#patch source dir
patchsource=/patch/@version
#patch config file dir
patchconfig=/patch/@version
[/patch]
#
[thirdparty]
#third-party software
softwaresource=/thirdparty/@softwarename/@version
#third-party software patch
softwarepatch=/thirdparty/@softwarename/@version/patch/@patchversion
[/thirdparty]
#
[upgrade]
#config files for upgrade
upgradeconfig=/upgrade/config
upgradesubsyssource=/install/data
upgradecheck=/upgrade/project/u2000/@version/@softwarename/upgradecheck
upgradeConfigFile=/upgrade/project/u2000/@version/@softwarename/UpgradeConfigFile
upgradeDB=/upgrade/project/u2000/@version/@softwarename/UpgradeDB
upgraderesource=/upgrade/resource
[/upgrade]
[engineering]
subsystemPlugins=/engineering/plugins
engineeringResource=/engineering/resource
engineeringScript=/engineering/script
#config files for installtion
engineeringConfig=/engineering/conf
engineeringInstallConfig=/engineering/conf/config
engineeringPkgResDirName=/engineering/resource/package
[/engineering]