<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd">
<COMMINIDATA>
	<AREADESC>
		<DESC descname="ResourceBundle">
			<PARAS>
				<PARA name="type" value="ResourceBundle"/>
				<PARA name="resourceBundleName" value="Res"/>
			</PARAS>
		</DESC>
		<DESC descname="mainMenu">
			<PARAS>
				<PARA name="name" value="main Menu"/>
				<PARA name="type" value="MenuSet"/>
			</PARAS>
			<!-- <DESC descname="SystemMenu">
				<PARAS>
					<PARA name="name" value="SystemMenu"/>
					<PARA name="type" value="JMenu"/>
					<PARA name="mnemonic" value="S"/>
					<PARA name="serialnumber" value="600"/>
				</PARAS>
				<DESC descname="FtpConf">
					<PARAS>
						<PARA name="name" value="FtpConf"/>
						<PARA name="type" value="JMenu"/>
						<PARA name="mnemonic" value="F"/>
						<PARA name="serialnumber" value="600-130"/>
					</PARAS>
					<DESC descname="LOCAL_FTP">
						<PARAS>
							<PARA name="name" value="LOCAL_FTP" />
							<PARA name="icon" value="" />
							<PARA name="type" value="JMenuItem" />
							<PARA name="mnemonic" value="L" />
							<PARA name="command" value="local_ftp_action"/>
							<PARA name="action" value="com.swimap.ftpconf.authentication.MenuAuthorityAction"></PARA>
							<PARA name="serialnumber" value="600-130-10" />
						</PARAS>
					</DESC>
					<DESC descname="THIRD_PARTY_FTP">
						<PARAS>
							<PARA name="name" value="THIRD_PARTY_FTP" />
							<PARA name="icon" value="" />
							<PARA name="type" value="JMenuItem" />
							<PARA name="mnemonic" value="F" />
							<PARA name="command" value="third_ftp_action"/>
							<PARA name="action" value="com.swimap.ftpconf.authentication.MenuAuthorityAction"></PARA>
							<PARA name="serialnumber" value="600-130-20" />
						</PARAS>
					</DESC>
				</DESC>
			</DESC> -->
		</DESC>
	</AREADESC>
</COMMINIDATA>
