<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd">
<COMMINIDATA>
	<AREADESC>
		<DESC descname="ResourceBundle">
			<PARAS>
				<PARA name="type" value="ResourceBundle"/>
				<PARA name="resourceBundleName" value="dmssyslog/dmssyslog"/>
			</PARAS>
		</DESC>
          <DESC descname="mainMenu">
               <PARAS>
                   <PARA name="name" value="mainMenu"/>
                   <PARA name="type" value="MenuSet"/>
               </PARAS>
               <DESC descname="SystemMenu">
                    <PARAS>
                        <PARA name="name" value="SystemMenu"/>
                        <PARA name="type" value="JMenu"/>
                        <PARA name="mnemonic" value="S"/>
                        <PARA name="serialnumber" value="6000"/>
                    </PARAS>
                    <DESC descname="NeSecuritySetting">
                         <PARAS>
                             <PARA name="name" value="NeSecuritySetting"/>
                             <PARA name="type" value="JMenu"/>
                             <PARA name="mnemonic" value="N"/>
                             <PARA name="serialnumber" value="6000-300"/>
                         </PARAS>
                         <DESC descname="Separator">
                              <PARAS>
                                  <PARA name="name" value="Separator"/>
                                  <PARA name="type" value="Separator"/>
                                  <PARA name="serialnumber" value="6000-300-60"/>
                              </PARAS>
                         </DESC>
                         <DESC descname="SyslogManage">
                              <PARAS>
                                  <PARA name="name" value="SyslogManage"/>
                                  <PARA name="type" value="JMenuItem"/>
                                  <PARA name="mnemonic" value="G"/>
                                  <PARA name="serialnumber" value="6000-300-70"/>
                                  <PARA name="command" value="SyslogManage"/>
                                  <PARA name="ZiliaoID" value="SyslogManage"/>
                              </PARAS>
                         </DESC>
                    </DESC>
               </DESC>
          </DESC>		
          <!--
		<DESC descname="mainMenu">
			<PARAS>
				<PARA name="name" value="main Menu"></PARA>
				<PARA name="type" value="MenuSet"></PARA>
			</PARAS> 
			<DESC descname="Help">
				<PARAS>
          <PARA name="name" value="Help"></PARA>
          <PARA name="mnemonic" value="H"></PARA>
          <PARA name="type" value="JMenu"></PARA>
          <PARA name="accelerator" value="VK_H"></PARA>
          <PARA name="icon" value=""></PARA>          
          <PARA name="serialnumber" value="900"></PARA>
				</PARAS>

          <DESC descname="SyslogManage">
               <PARAS>
                   <PARA name="name" value="SyslogManage"/>
                   <PARA name="command" value="SyslogManage"/>
                   <PARA name="type" value="JMenuItem"/>
                   <PARA name="mnemonic" value="G"/>
                   <PARA name="serialnumber" value="900-1513"/>
                   <PARA name="ZiliaoID" value="SyslogManage"/>
               </PARAS>
          </DESC>				
			</DESC>
			
		</DESC>-->
	</AREADESC>
</COMMINIDATA>