<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE COMMINIDATA SYSTEM "commini.dtd">
<!-- edited with XML Spy v4.0 NT beta 2 build Jul 26 2001 (http://www.xmlspy.com) by Tremain (DC) -->
<COMMINIDATA>
	<AREADESC>


<!--define a menuSet
menuSet:
        descname as the menuSet's id, must be unique.
        must have a type para, and the value is "MenuSet"

JMenu:(super class must be JMenu)
        descname as the menuID.
        must hava a type para, and the value is "JMenu"

JMenu's sub element
type can be "JMenuItem", "Separator " ," CheckBox","RadioButton"

-->
		<DESC descname="ResourceBundle">
			<PARAS>
				<PARA name="type" value="ResourceBundle"></PARA>
				<PARA name="resourceBundleName" value="NotifyDlRes"></PARA>
			</PARAS>
		</DESC>

		<!--mainMenu MenuSet type start -->
		<DESC descname="mainMenu">
			<PARAS>
				<PARA name="name" value="main Menu"></PARA>
				<PARA name="type" value="MenuSet"></PARA>
			</PARAS>
			<!-- log download tools menu item start -->
			<DESC descname="Tools">
				<PARAS>
					<PARA name="name" value="Tools"></PARA>
					<PARA name="mnemonic" value="T"></PARA>
					<PARA name="accelerator" value="VK_T"></PARA>
					<PARA name="type" value="JMenu"></PARA>
					<PARA name="icon" value=""></PARA>
					<PARA name="serialnumber" value="700"></PARA>
				</PARAS>
			</DESC>
			<!-- log download tools menu item end -->
		</DESC>
		<!-- mainMenu MenuSet type ended -->

	</AREADESC>
</COMMINIDATA>