<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin id="nmlotn" name="nmlotn" version="1.0" provider-name="nmlotn">
   	<!-- 用于主拓扑(临时视图)切换的监听  -->
   	<extension point="com.swimap.topo.TopoViewSwitchListener">
        <TopoViewSwitchListener class="com.huawei.nml.wdmcircuit.TNCircuitWaveTemporaryTopoMgr" priority="230"/>
        <TopoViewSwitchListener class="com.huawei.nml.wdmprotect.TNWaveProtectTemporaryTopoMgr" priority="235"/>
	  </extension>
</plugin>