<?xml version="1.0" encoding="UTF-8"?>
<COMMINIDATA>
    <AREADESC>
        <DESC descname="ResourceBundle">
            <PARAS>
                <PARA name="type" value="ResourceBundle" />
                <PARA name="resourceBundleName" value="IfmsRes" />
            </PARAS>
        </DESC>
        <DESC descname="mainMenu">
            <PARAS>
                <PARA name="name" value="main Menu" />
                <PARA name="type" value="MenuSet" />
            </PARAS>
            <DESC descname="Fault">
                <PARAS>
                    <PARA name="name" value="FaultRootMenu" />
                    <PARA name="mnemonic" value="U" />
                    <PARA name="accelerator" value="VK_U" />
                    <PARA name="type" value="JMenu" />
                    <PARA name="icon" value="" />
                    <PARA name="serialnumber" value="200" />
                </PARAS>
                <DESC descname="Fault Query">
                    <PARAS>
                        <PARA name="name" value="Alarm_List_Query" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="FaultQuery" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="A" />
                        <PARA name="accelerator" value="VK_A" />
                        <PARA name="serialnumber" value="200-10" />
                    </PARAS>
                </DESC>
                <DESC descname="History Query">
                    <PARAS>
                        <PARA name="name" value="Alarm_Logs" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="HistoryQuery" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="L" />
                        <PARA name="accelerator" value="VK_L" />
                        <PARA name="serialnumber" value="200-20" />
                    </PARAS>
                </DESC>
                <DESC descname="Separator">
                    <PARAS>
                        <PARA name="name" value="Separator" />
                        <PARA name="type" value="Separator" />
                        <PARA name="serialnumber" value="200-100" />
                    </PARAS>
                </DESC>
                <DESC descname="Fault_Browse">
                    <PARAS>
                        <PARA name="name" value="Fault_Browse" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="BrowseFaultAlarm" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="R" />
                        <PARA name="accelerator" value="VK_R" />
                        <PARA name="serialnumber" value="200-110" />
                    </PARAS>
                </DESC>
                <DESC descname="Fault_Browse_Level">
                    <PARAS>
                        <PARA name="name" value="Fault_Browse_by_level" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="BrowseFaultAlarmByLevel" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="Y" />
                        <PARA name="accelerator" value="VK_F" />
                        <PARA name="serialnumber" value="200-120" />
                    </PARAS>
                </DESC>
                <DESC descname="Separator">
                    <PARAS>
                        <PARA name="name" value="Separator" />
                        <PARA name="type" value="Separator" />
                        <PARA name="serialnumber" value="200-130" />
                    </PARAS>
                </DESC>
                <DESC descname="Alarm Board">
                    <PARAS>
                        <PARA name="name" value="Alarm_Board" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="AlarmBoard" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="D" />
                        <PARA name="itemType" value="CheckBox" />
                        <PARA name="accelerator" value="VK_D" />
                        <PARA name="serialnumber" value="200-190" />
                    </PARAS>
                </DESC>
                <DESC descname="Alarm Matrix">
                    <PARAS>
                        <PARA name="name" value="Alarm_Matrix" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="AlarmMatrix" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="M" />
                        <!--<PARA name="itemType" value="CheckBox"/>-->
                        <PARA name="accelerator" value="VK_M" />
                        <PARA name="serialnumber" value="200-200" />
                    </PARAS>
                </DESC>
                <DESC descname="NE_Synchronize">
                    <PARAS>
                        <PARA name="name" value="NE_Synchronize" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="ProcessNESynchronize" />
                        <PARA name="mnemonic" value="N" />
                        <PARA name="accelerator" value="VK_N" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="serialnumber" value="200-230" />
                    </PARAS>
                </DESC>
                <DESC descname="AlarmSettingMenu">
                    <PARAS>
                        <PARA name="name" value="AlarmSettingMenuComplex" />
                        <PARA name="mnemonic" value="G" />
                        <PARA name="accelerator" value="VK_G" />
                        <PARA name="type" value="JMenu" />
                        <PARA name="icon" value="" />
                        <PARA name="serialnumber" value="200-240" />
                    </PARAS>
                    <DESC descname="AlarmOption">
                        <PARAS>
                            <PARA name="name" value="AlarmOption" />
                            <PARA name="icon" value="" />
                            <PARA name="command" value="alarmOptions" />
                            <PARA name="type" value="JMenuItem" />
                            <PARA name="mnemonic" value="O" />
                            <PARA name="accelerator" value="VK_O" />
                            <PARA name="serialnumber" value="200-240-10" />
                        </PARAS>
                    </DESC>
                    <DESC descname="TemplateManagement4IFMS">
                        <PARAS>
                            <PARA name="name" value="TemplateManagement" />
                            <PARA name="icon" value="" />
                            <PARA name="command" value="TemplateManagement" />
                            <PARA name="mnemonic" value="P" />
                            <PARA name="accelerator" value="VK_P" />
                            <PARA name="type" value="JMenuItem" />
                            <PARA name="serialnumber" value="200-240-40" />
                        </PARAS>
                    </DESC>
                </DESC>
                <DESC descname="Separator">
                    <PARAS>
                        <PARA name="name" value="Separator" />
                        <PARA name="type" value="Separator" />
                        <PARA name="serialnumber" value="200-270" />
                    </PARAS>
                </DESC>
                <DESC descname="Stop_Alarm_Sound_Permanently">
                    <PARAS>
                        <PARA name="name" value="Stop_Alarm_Sound_Permanently" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="StopAlarmSoundPermanently" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="U" />
                        <PARA name="itemType" value="CheckBox" />
                        <PARA name="accelerator" value="VK_T" />
                        <PARA name="serialnumber" value="200-280" />
                    </PARAS>
                </DESC>
                <DESC descname="Stop_Current_Alarm_Sonund">
                    <PARAS>
                        <PARA name="name" value="Stop_Current_Alarm_Sound" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="StopCurrentAlarmSound" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="O" />
                        <PARA name="accelerator" value="VK_O" />
                        <PARA name="serialnumber" value="200-290" />
                    </PARAS>
                </DESC>
                <DESC descname="Separator">
                    <PARAS>
                        <PARA name="name" value="Separator" />
                        <PARA name="type" value="Separator" />
                        <PARA name="serialnumber" value="200-300" />
                    </PARAS>
                </DESC>
                <DESC descname="Synchronise_Alarm_Box">
                    <PARAS>
                        <PARA name="name" value="Synchronise_Alarm_Box" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="SynchroniseAlarmBox" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="S" />
                        <PARA name="accelerator" value="VK_S" />
                        <PARA name="serialnumber" value="200-400" />
                    </PARAS>
                </DESC>
            </DESC>
        </DESC>
    </AREADESC>
</COMMINIDATA>