<?xml version="1.0" encoding="UTF-8"?>
<COMMINIDATA>
    <AREADESC areaname="modulelist">
       <DESC descname="ResourceBundle">
               <PARAS>
                   <PARA name="type" value="ResourceBundle"></PARA>
                   <PARA name="resourceBundleName" value="Res"></PARA>
               </PARAS>
          </DESC>
      <DESC descname="secnemgr">
	    
     </DESC>
   </AREADESC>
</COMMINIDATA>
