<?xml version="1.0" encoding="UTF-8"?>
<COMMINIDATA>
    <AREADESC>
        <DESC descname="ResourceBundle">
            <PARAS>
                <PARA name="type" value="ResourceBundle" />
                <PARA name="resourceBundleName" value="Res" />
            </PARAS>
        </DESC>
        <DESC descname="mainMenu">
            <PARAS>
                <PARA name="name" value="main Menu" />
                <PARA name="type" value="MenuSet" />
            </PARAS>
            <DESC descname="AlarmBrowseMenu">
                <PARAS>
                    <PARA name="name" value="AlarmBrowseMenu" />
                    <PARA name="mnemonic" value="I" />
                    <PARA name="accelerator" value="VK_I" />
                    <PARA name="type" value="JMenu" />
                    <PARA name="icon" value="" />
                    <PARA name="serialnumber" value="400" />
                </PARAS>
                <DESC descname="Separator">
                    <PARAS>
                        <PARA name="name" value="Separator" />
                        <PARA name="type" value="Separator" />
                        <PARA name="serialnumber" value="400-500" />
                    </PARAS>
                </DESC>
                <DESC descname="Alarm_GUI_TOOL">
                    <PARAS>
                        <PARA name="name" value="menu_item" />
                        <PARA name="icon" value="" />
                        <PARA name="command" value="AlarmGuiTool" />
                        <PARA name="type" value="JMenuItem" />
                        <PARA name="mnemonic" value="U" />
                        <PARA name="accelerator" value="VK_U" />
                        <PARA name="serialnumber" value="400-510" />
                        <PARA name="showInPortalPanel" value="true" />
                        <PARA name="isFavorite" value="true" />
                        <PARA name="visibleApps">
                            <VALUE value="AlarmMonitor"></VALUE>
                        </PARA>
                    </PARAS>
                </DESC>
            </DESC>
        </DESC>
    </AREADESC>
</COMMINIDATA>